@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.error {
    @include bluebox;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: center;
    min-height: 150px;

}