@import '../../../assets/scss/variables';

.form-wrapper {
    display: block;
    max-width: 420px;
    margin-bottom: 2rem;
    padding: 16px;
    background-color: $primary-color;
}

.form-container {

}