@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.form-wrapper {
    @include bluebox;

    margin-bottom: 2rem;
}

.form-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    width: 100%;

    padding: 16px;
}

.loading {
    @include bluebox;
}

.map-card {
    width: 100%;
}