<div class="loading">
    <div class="loading__text">
        <div class="loading__wrapper">
            <ngx-skeleton-loader [theme]="{width: '80%', 'border-radius': '0', height: '22px','margin-bottom': '10px'}"></ngx-skeleton-loader>
        </div>
        <div class="loading__wrapper">
            <ngx-skeleton-loader [theme]="{width: '37%', 'border-radius': '0', height: '15px','margin-bottom': '10px'}"></ngx-skeleton-loader>
        </div>
        <div class="loading__wrapper">
            <ngx-skeleton-loader [theme]="{width: '35%', 'border-radius': '0', height: '15px','margin-bottom': '10px'}"></ngx-skeleton-loader>
        </div>
        <div class="loading__wrapper">
            <ngx-skeleton-loader [theme]="{width: '30%', 'border-radius': '0', height: '15px','margin-bottom': '10px'}"></ngx-skeleton-loader>
        </div>
    </div>
    
    <ngx-skeleton-loader [theme]="{width: '100%', 'border-radius': '0', height: '350px','margin-bottom': '10px'}"></ngx-skeleton-loader>
</div>